body {
    height: 100%;
    padding-top: 70px;
}

body {
  background: url('/images/sandy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profileThumb {
	max-height: 100px;
	max-width: 100px;
}

.profileLarge.ng-hide-remove {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.profileSmall.ng-enter {
  -webkit-animation: fadeInUp 0.5s;
  animation: fadeInUp 0.5s;
}