<div class="container">
  <div ng-include="'partials/navbar'"></div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="{{profile.photos[0].url}}" class="img-circle img-responsive">
      </div>
      <div class="col-md-8">
        <h1>{{profile.name}}</h1>
        <p>{{profile.quote}}</p>
        <hr/>
        <p><strong>About me:</strong><br/>{{profile.info}}</p>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="photo in profile.photos">
        <div class="thumbnail pull-left">
          <img ng-src="{{photo.url}}" alt="{{photo.caption}}" class="img-rounded profileThumb">
        </div>
      </div>
    </div>
    <pre>{{profile | json}}</pre>
  </div>

  <div class="footer">
    <p>Sometimes you have to jump through a few hoops for love :p</p>
  </div>
</div>